/**********************************************************
  COLOR VARIABLES
**********************************************************/
$color-brand-primary: #6a757b;
$color-brand-secondary: #f2700f;
$color-dark-blue: #1B4F72;
$color-light-blue: #85C1E9;
$color-dark-green: #145A32;
$color-light-green: #A4C783;
$color-gold: #F1C40F;
$color-red: #FF0000;
$color-orange: #FF8400;
$color-purple: #8E44AD;
$color-black: #2A2F33;
$color-dark-gray: #6A737B;
$color-med-gray: #A1A1A1;
$color-light-gray: #E4E5E6;
$color-white: #ffffff;
$color-gray: #424242;
$color-lighter-gray: #F8F8F9;
$brand-danger: #FF4A00;
