&.search-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  footer {
    flex: 1 0 auto;
  }

  .search-container {
    background-color: $color-light-gray;
    padding: 14rem 0 8rem;
    flex: 1 0 auto;

    .results-heading {
      margin-bottom: 3rem;
    }

    .list-group {
      .list-group-item {
        border-radius: 3px;
        margin-bottom: 1.5rem;
        padding: 3rem 4.3rem;
        transition: background-color 125ms ease-in-out;

        .list-group-item-heading {
          @include myriad-pro-bold;
          color: $color-brand-primary;
        }

        .list-group-item-text {
          @include myriad-pro-regular;
          margin-top: 1.5rem;
        }

        .list-group-item-url {
          @include myriad-pro-regular;
          margin-top: 1.5rem;
        }

        &:hover {
          background-color: transparentize($color-white, 0.25);
        }
      }
    }

    .results-pagination {
      margin-top: 3.5rem;
      padding: 0 3rem;

      .page-item {
        &.active {
          .page-link {
            background-color: $color-brand-secondary;
            border-color: $color-brand-secondary;
            color: $color-white;
          }
        }
      }

      .page-dots {
        color: $color-med-gray;
        font-size: 2.5rem;
        padding: 8px 0;
        line-height: 0;
        margin-right: 10px;
      }

      .page-link {
        border-radius: 3px;
        color: $color-brand-secondary;
        padding: 8px 10px;
        line-height: 1;
        margin-right: 10px;
        outline: none;

        &:focus {
          box-shadow: none;
        }
      }

      hr {
        margin: 0 0 3rem;
      }
    }
  }
}
