/* ===== GLOBAL STYLES =================== */

body {
  color: #51545d;
}

a {
  color: #e5683e;
}

a:visited {
  color: #eb8f71;
}

a:hover {
  color: #C95934;
}

/* ===== SITE LAYOUT =================== */
.jv-page-container {
}

.jv-page {
}

.jv-page-content {
}

.jv-page-header {
}

.jv-page-body {
}

.jv-wrapper {
}

.jv-footer {
}

/* ===== JOB LISTINGS PAGE =================== */
.jv-page-error {
}

.jv-page-body h2 {
}

h3.h2 {
}

.jv-job-list {
}

.jv-job-list th {
}

.jv-job-list td {
}

.jv-job-list .jv-job-list-name {
}

.jv-job-list .jv-job-list-location {
}

/* ========== JOB DETAILS PAGE =============== */
h2.jv-header {
}

.jv-job-detail-meta, .jv-apply-meta {
}

.jv-button {
}

.jv-button-primary {
}

.jv-current-openings {
}

.jv-share-widget {
}

.jv-job-detail-bottom-actions, .jv-apply-form-actions {
}

/* ========== APPLY PAGE ====================== */
.jv-form {
}

.jv-apply-form {
}

.jv-search-form {
}

.jv-apply-step {
}

.jv-apply-section {
}

.jv-step-header {
}

/* Section Title */
.jv-required-label {
}
